<div class="container">
  <h2>Add a new van</h2>

    <%= render "form", van: @van %>

  <hr>

  <%= link_to vans_path do %>
    <i class="fa fa-undo" aria-hidden="true"></i> Back to List
  <% end %>

  <%= content_for(:title, 'Add new van - Le Campeur') %>
</div>
