<div class="display">
<!-- //  <%= @van.model %>
  <%= @van.user.email %>
  <%= @van.reviews %>

  <%= # simple_form_for [@van, @rental] do |f| %>
    <%# f.input .... %>
  <%# end %> -->

  <!-- Rental Details -->
  <div class="rental_details">
    <!-- Some code here -->
  </div>

  <!-- Description -->
  <div class="description">
    <!-- Some code here -->
  </div>

  <!-- Booking Form -->
  <div class="new_rental_form">
    <!-- Some code here -->
  </div>

  <!-- Reviews -->
  <div class="reviews">
    <!-- Some code here -->
  </div>

  <!-- Photo Gallery -->
  <div class="photos">
    <!-- Some code here -->
  </div>
</div>
