// CSS for Reviews index page //

.review-list {
  display: grid;
  grid-template-rows: 50% 50%;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid #9099A2;
  padding: 15px 0px;
}

.comment:last-child {
    border-bottom: none;
  }

.review-content {
  flex: 1 1 auto;
  align-items: center;
}

.review-photo {
  flex: 0 0 auto;
}
