// CSS for Vans show page //
.padding {
  padding-left: 35px;
}

.display {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100vh - 150px);
  width: 97%;
  margin: auto;
  padding-top: 5px;
}

.description {
  grid-row: 2 / span 1;
}

.details {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  ul-inline {
    list-style: none;
    font-size: 16px;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  background-position: center;
  background-size: cover;

  .booking {
    text-align: center;
    color: white;

    h1, h3 {
      margin-top: 0px;
    }
  }
}

.reviews {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;

  ul-inline {
    list-style: none;
    font-size: 16px;
  }
}

.spacing {
  margin: 10px;
  padding: 20px;
  background-color: #EDE6DE;
}

.icon {
  font-size: 12px;
}
