.rentals-container {
  background-color: $light-gray;
  width: 50%;
  border-radius: 5px;
  height: 50%;
  color: $gray !important;
  margin: 0;
}

.rental-container-text p {
  color: $gray !important;
  padding-top: 50px;
  font-size: 16px !important;
}

.container {
  width: 50%;
}
