
<div class="banner-container">
  <div class="banner-content">
    <h1>Le Campeur</h1>
    <p>Find your dream van</p>
    <%= link_to "Start now", vans_path, class: "btn btn-primary btn-lg" %>
  </div>
  <%= link_to "", vans_path, class: "banner" %>
  <%= link_to "", vans_path, class: "banner-2" %>
</div>
