
<div class="banner-container">
     <div class="banner-content">
    <h1>Le Campeur</h1>
    <p>Find your dream van</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
  <div class="banner">
  </div>

  <div class="banner-2">
 </div>
</div>
