<div class="wrapper">
  <div class="parent">
    <%= link_to vans_path do %>
      <div class="child left" style='background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(<%= image_path 'blue-van.jpg' %>)'>
        <h1 class="caption">RENT A VAN</h1></div>
    <% end %>
  </div>

  <div class="parent">
    <%= link_to new_user_session_path do %>
      <div class="child right" style='background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(<%= image_path 'van-vw.jpg' %>)'>
        <h1 class="caption">LIST A VAN</h1></div>
    <% end %>
  </div>
</div>

<!-- <div class="banner-container">
  <div class="banner-content">
    <h1>Le Campeur</h1>
    <p><strong>Find Your Dream Van</strong></p>
  </div>
  <div class="parent">
    <%# link_to "", vans_path, class: "banner-left positioning" %>
  </div>
  <div class="parent">
    <%# link_to "", new_user_session_path, class: "banner-right positioning" %>
  </div>
</div> -->
