.avatar {
  width: 300px;
}

#dashboard {
 // display: block;
 //  background-color: #fff;
 //  border-color: #fff;
 //  color: #333;
 //  font-weight: 300;
 //  letter-spacing: 0.1em;
 //  width: 500px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}
