.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 45px;
}

.content {
  min-height: calc(100vh - 70px - 45px);
}
